.env
Case Study.pdf

# Ignore Preact build files
/frontend-preact/node_modules
/frontend-preact/dist
/frontend-preact/.vite

# dependencies
frontend/node_modules

# production
frontend/build
frontend-preact/build

# misc
.DS_Store
npm-debug.log
